
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 3.9rem;
    top: 0;
    position: fixed;    
    display: flex;
    justify-content: center;
    background-color: var(--theme-color);
    z-index: 1;
}

.nav-logo,
.nav-options, 
.nav-button, 
.nav-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-principal {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.groupOptionsNav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-logo {
    margin-left: 6.25rem;
    font-size: clamp(0.688rem, 0.783vw + 0.185rem, 1.125rem);
}

.nav-logo a{
    text-decoration: none;
    color: var(--text-color);
}

.nav-options li {
    list-style: none;
}

/* .nav-button {
    margin-right: 6.25rem;
} */

.nav-options a, .nav-button a {
    position: relative;
    padding: 0.938rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: clamp(0.625rem, 0.447vw + 0.338rem, 0.875rem);
}

.nav-toggle{
    display: none;
}

.toggleOpen {
    display: block;
}

.nav-options a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s;
}

.nav-options a:hover::before {
    opacity: 1;
}


.nav-button-signup a {
    background-color: var(--secundary-color);
    padding: .8rem 1.4rem;
    border-radius: 2rem;
}


@media screen and (max-width: 900px) {
    .nav-logo {
        margin-left: 3rem;
    }
    .nav-button {
        margin-right: 0.99rem;
    }
}

@media screen and (max-width: 770px) {
    .groupOptionsNav{
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: var(--primary-color);
        width: 100%;
        height: 100vh;
        left: 0;
        top: 3.9rem;
        font-size: .7rem;
    }

    .nav-options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-options li {
        margin: 1rem;
    }

    .nav-options a {
        font-size: 1rem;
        color: var(--theme-color);
    }

    .nav-toggle {
        display: flex;
        justify-content: center;
        margin-right: 2rem;
    }

    #nav-toggle:checked + .groupOptionsNav{
        display: flex;
    }


}
