
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,420;1,420&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

=======

@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

* {
  font-family: "Actor", sans-serif;
  font-style: normal;
}


:root {
    --theme-color: white;
    --primary-color: #181E4B;
    --secundary-color: #DF6951;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #3A4460;
    --font-logo-TableTrick: "Chivo", sans-serif;
  }